# basics
wheel
setuptools
ipykernel

# format
black[jupyter]

# python data
pandas
numpy
matplotlib
seaborn
lightgbm
distributed
dask[complete]
fastparquet
pyarrow
ibis-framework[duckdb]

# db
duckdb==0.4.0
